<div class="panel-body">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Gender</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>email</th>
            <th>ip address</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in products">
            <td>{{item.id}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.ip_address}}</td>
            <td><button class="btn btn-xs btn-primary" ng-click="deleteDetails()">Delete</button></td>
            <td><button class="btn btn-xs btn-primary" ng-click="editDetails()">Edit/New</button></td>
        </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-xs btn-primary">Refresh</button>
        <button class="btn btn-xs btn-primary">New</button>
    </div>
</div>